body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #171c28;
    color: #fff;
}


h1 {
  font-size: 3em;
  margin-top: 0.5em;
  color: #28a745;
}
.btn {
  display: inline-block;
  padding: 0.8em 1.5em;
  margin: 1em;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
}
.btn:hover {
  background-color: #0056b3;
}
img{
  width: 100px;
  height: 100px;
}

 /*Sign up*/ 
.signup-container {
  background-color: #202a3a;
  padding: 2em;
  border-radius: 5px;
  max-width: 600px;
  margin: 5rem auto;
}

h2 {
  color: #28a745;
  margin-bottom: 1em;
}

form {
  display: flex;
  flex-direction: column;
 
}

label {
  color: #fff;
  margin-bottom: 0.5em;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 0.5em;
  border: none;
  border-radius: 3px;
  margin-bottom: 1em;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.8em;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  text-align: center;
  display: block;
  margin: auto;
  
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/*LOGIN*/
.login-container {
  background-color: #202a3a;
  padding: 2em;
  border-radius: 5px;
  max-width: 600px;
  margin: 5rem auto;
}

.login-container h2 {
  color: #28a745;
  margin-bottom: 1em;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  color: #fff;
  margin-bottom: 0.5em;
}

.ogin-container input[type="email"],
.login-container input[type="password"] {
  padding: 0.5em;
  border: none;
  border-radius: 3px;
  margin-bottom: 1em;
}
  
 /*Tracker main page*/ 
.page-container {
  background-color: #202a3a;
  /*height: 100vh;*/
  padding: 2em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.header h2 {
  color: #28a745;
}

.logout-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.logout-btn:hover {
  text-decoration: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

input[type="text"],
input[type="number"] {
  padding: 0.5em;
  border: none;
  border-radius: 3px;
  margin-bottom: 1em;
}


/* Style for logout button */
.logout-btn , #dlt_btn{
  background-color: #ff4d4d; /* red background color */
  color: #fff; /* white text color */
  padding: 10px 20px; /* add padding to make button more clickable */
  border: none; /* remove border */
  border-radius: 4px; /* add some border radius */
  cursor: pointer; /* add pointer cursor */
  text-decoration: none;
}

.logout-btn:hover {
  background-color: #f43c3c; /* darken the color on hover */
}




/* Set custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #2b2f3a;
}

::-webkit-scrollbar-thumb {
  background-color: #1e846b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #34907c;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

th {
  background-color: #fff;
  color: #000;
  padding: 10px;
}

td {
  word-wrap: break-word;
  border: 1px solid #000;
  padding: 10px;
  font-size: 14px;
}

td:nth-child(1), td:nth-child(2), td:nth-child(3) {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td:nth-child(4) {
  max-width: 200px;
  overflow-x: auto;
}

/*Footer*/
footer{
  position: fixed;
  bottom: 0;
  height: 50px; /* adjust height as needed */
  text-align: center;
  left: 0;
  right: 0;
}

footer a{
  color: white;
}

@media (max-width: 1024px) {
  .table-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  td, th {
    font-size: 12px;
    padding: 5px;
  }
}

@media (max-width: 480px) {
  td, th {
    font-size: 10px;
    padding: 2px;
  }
  .logout-btn , #dlt_btn{
    padding: 10px 10px; /* add padding to make button more clickable */
    font-size: 0.8rem;
  }
  footer{
    position: relative;
    height: auto;
  }
  
}

@media (max-width: 350px) {
  td, th {
    font-size: 9px;
    padding: 1px;
  }
}



/* Adjust the size of the delete button on small screens */
@media screen and (max-width: 600px) {
  button[type="submit"] {
    font-size: 12px;
  }
  h1 {
    font-size: 2em;
  }
  .btn {
    font-size: 0.8em;
  }
}
