<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price tracker</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <img src="{% static 'images/money.png' %}" alt="dollars">
    <h1>Welcome to your own personal price tracker!</h1>
    <a class="btn" href="{% url 'signup' %}">Sign Up</a>
    <a class="btn" href="{% url 'login' %}">Log In</a>
    
</body>
</html>