<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price tracker</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="page-container">

        <div class="header">
          <h2>Hi, {{username}}!</h2>
          <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
        </div>

        <div class="form-container">
          <h2>Track your product's price</h2>
          <form method="POST">
            {% csrf_token %}
            <label for="url-input">Product URL:</label>
            <input type="text" id="url-input" name="url" placeholder="Enter product URL here" required>

            <label for="price-input">Target Price:</label>
            <input type="number" id="price-input" name="target_price" placeholder="Enter affordable price for you" required>

            <input type="submit" value="Submit">
          </form>
          <!--{% if product_added %}
            <p style="color:red;">You can only track one product at a time. Please delete the existing product before adding a new one.</p>
          {% endif %}-->
          <p style="color:red;">{{ error_msg }}</p>
        </div>

        

        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Product URL</th>
                <th>Target Price</th>
                <th>Actions</th>
              </tr>
            </thead>

            <tbody>
              {% for product in products %}
              <tr>
                <td>{{product.name}}</td>
                <td>{{ product.url }}</td>
                <td>{{ product.target_price }}</td>
                <td>
                  <form method="POST" action="{% url 'delete_product' product.id %}">
                    {% csrf_token %}
                    <button type="submit" id="dlt_btn">Delete</button>
                  </form>
                </td>
              </tr>
              
              {% empty %}
              <tr>
                <td colspan="4">No products added yet.</td>
              </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>
        

      </div>
      
</body>
</html>